html, body {
    background-color: rgb(210, 210, 210);

    font-family: Arial, Helvetica, sans-serif;

    height: calc(100% - 0em);
    margin: 0;
    padding: 0;
}

/*Content*/
.content {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(210, 210, 210);

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.text {
    flex: 1;

    margin-top: 5em;

    text-align: center;
}
.input {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding: 0.25em;

    font-size: 1.25em;

    border-radius: 0.5em;
}
.text button {
    border-radius: 1em;
    width: 8em;
    height: 3em;

    margin-top: 0.5em;
    padding: 0.33em;

    font-size: 1.25em;

    background-image: linear-gradient(to bottom, lightgrey, white);
}
.text button:hover {
    background-color: darkgray;
    background-image: none;
}
.text button:active {
    background-color: grey;
    background-image: none;
}