html, body {
    background-color: lightslategray;

    height: calc(100% - 5.3em);
    margin: 0;
    padding: 0;
}

/*Content*/
.content {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightslategray;

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*Header*/
.header {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    background-color: lightgray;
}

/*EmployeeInfo*/
.employeeInfo {
    margin-top: 2em;
    margin-bottom: 2em;

    text-align: center;

    flex: 1;
}
.employeeInfo img {
    width: 20em;
    border-radius: 50%;
}