html, body {
    background-color: lightslategray;

    height: calc(100% - 5.3em);
    margin: 0;
    padding: 0;
}

/*Content*/
.content {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightslategray;
    
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*Header*/
.header {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    background-color: lightgray;
}

/*MenuList*/
.menuList {
    flex: 1;
}
.menuList h2 {
    text-align: center;
}
.menuList ul {
    /*ULs have a default padding on the left causing it to appear off-center*/
    padding-left: 0;
}
.menuList li {
    text-align: center;
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
}
.menuList li a {
    appearance: button;
    background-image: linear-gradient(to bottom, lightgrey, white);

    width: 15em;
    font-size: 1em;
    text-decoration: none;
    color:black;

    padding: 1em;
    border-radius: 2em;
}
.menuList li a:hover {
    background-color: lightgrey;
    background-image: none;
}
.menuList li a:active {
    background-color: grey;
    background-image: none;
}