html, body {
    background-color: lightslategray;

    height: calc(100% - 5.3em);
    margin: 0;
    padding: 0;
}

/*Content*/
.content {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightslategray;

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*Header*/
.header {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    background-color: lightgray;
}

/*FormData*/
.formData {
    margin-top: 2em;
    margin-bottom: 2em;

    text-align: center;

    flex: 1;
}
.textbox {
    font-size: 1.25em;

    margin: 0.5em;
    padding: 0.25em;
    padding-left: 0.5em;
    border-radius: 1em;
}
#submit {
    width: 10em;

    font-size: 1.1em;
    margin: 1.5em;
    padding: 1em;
    border-radius: 1em;
}
#submit:hover {
    background-color: lightgrey;
    background-image: none;
}
#submit:active {
    background-color: grey;
    background-image: none;
}
#comments {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;

    border-radius: 1em;
    margin: 0.5em;
    padding: 0.25em;
    padding-left: 0.5em;
}
.formData a {
    width: 15em;
    appearance: button;
    background-image: linear-gradient(to bottom, lightgrey, white);

    font-size: 1em;
    text-decoration: none;
    color:black;

    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 2em;
}
.formData a:hover {
    background-color: lightgrey;
    background-image: none;
}
.formData a:active {
    background-color: grey;
    background-image: none;
}